@font-face {
  font-family: 'Arual';
  font-style: normal;
  font-weight: 100;
  src: local('Arual'), url('/css/arual.woff') format('woff');
}

body {
  font-family: sans;
  font-size: 20px;
  line-heigth: 1.0em;
  color: white;
  width: 100%;
  margin: 0;
  padding: 0;
  background: black url(/img/title_bg.jpg) top right no-repeat fixed;
  background-size: cover;
}

h1 {
  font-family: Arual;
  font-size: 3rem;
  margin:0;
}

.content {
  margin-top: 10%;
  border-right: 20px solid rgba(0,0,0,.2);
  background: rgba(120, 20, 5,.7);
  padding: 2em;
  font-size: 1.0rem; /* 20px */
  text-shadow: 1px 2px 2px black;
}

.content p {
  margin-bottom: 0;
}

.content p em {
  font-style: normal;
}

footer ol {
  list-style: none;
  margin:0; padding:0;
}
footer ol li {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 1em;
}
footer ol li a {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(120, 24, 5,.9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 10px;
  text-decoration: none;
}
footer ol li a:hover {
  background-color: rgb(99 , 24, 5);
}
/* icons from
 * http://icons.mysitemyway.com/gallery/post/black-ink-grunge-stamps-textures-icons-social-media-logos
 */
footer .twitter a {
  background-image: url(/img/icons/black-ink-grunge/twitter.png);
}
footer .facebook a {
  background-image: url(/img/icons/black-ink-grunge/facebook.png);
}
footer .rss a {
  background-image: url(/img/icons/black-ink-grunge/rss.png);
}
footer .mail a {
  background-image: url(/img/icons/black-ink-grunge/mail.png);
}
footer .blog a {
background-image: url(/img/icons/black-ink-grunge/blog.png);
}
footer .github a {
  background-image: url(/img/icons/black-ink-grunge/github.png);
}

/* media queries */

/* may not work for apple mobile devices */
@media screen and (max-width:401px) and (orientation:portrait) {
  h1 { font-size: 1.5rem; }
  .content { border-right: none; }
}
@media screen and (max-width:600px) and (orientation:portrait) {
  .page { width: auto; }
  footer ol { text-align: center; }
}

@media screen and (max-height:360px) and (orientation:landscape) {
  .content { margin-top: 5%; }
}

@media screen and (min-width:601px) and (orientation:landscape) {
  .page { width: 80%; }
}

@media screen and (min-width:1281px) {
  .page { width: 40%; }
    h1 { font-size: 5rem; }
    p { font-size: 1.4rem; line-height: 1.5em; }
}
