%h1
  Welcome!
%p
  You are at the virtual lair of Norman Köhring a.k.a. nkoehring a.k.a pSy. I like a lot of computer
  related stuff, like weird operating systems, shells, programming and complex things in general.
  I'm a bit of an activist and you'll probably find me frequently on demonstrations relating to
  =link "AK Vorrat", "http://www.vorratsdatenspeicherung.de/"
  \.
  Currently I'm working as Ruby On Rails programmer while studying computer
  science. You'll find more information about this at the corresponding menu tabs.
%p
  I'm a member of the
  =link "sublab", "http://sublab.org"
  \.
  I'm a nerd.
%p
  This page is hosted by myself on a
  %a{ :href => "https://www.server4you.de/de/vserver/index.php", :target => "_blank" }
    vServer
  ,
  just like my
  =link "blog", "/offline.html"
  , my
  =link "download and screenshot section", "http://dl.nkoehring.de"
  , my
  =link "Jabber", "xmpp:nkoehring[at]nkoehring.de"
  , my
  =link "Mail", "mailto:nkoehring[at]nkoehring.de"
  , and a lot of other stuff typically found on nerd
  playgrounds. You can also ask for following me via
  =link "Twitter", "http://twitter.com/nkoehring"
  or have a look at my
  =link "playground page", "/offline.html"
  which is usually filled with senseless stuff.

