%h1
  Welcome!
  %span.flourish &#57346;
%p
  You are at the virtual lair of Norman Köhring a.k.a. nkoehring a.k.a pSy. I like a lot of computer
  related stuff, like weird operating systems,
  / Plan9 is nice but I'm spoiled by Linux too much
  shells,
  / zsh ...the one and only!
  programming
  /
    Python, Ruby, C. And already tried lot of more exotic stuff like Wirble and Go.
    I tried Prolog already… but not enough, yet. Haskell and all those functional languages
    are surely great, too.
  / Oh und I don't like PHP, Java and C#. Those are evil languages, I'm sure!
  and complex things in general.
  / humans for example…
  I'm a bit of an activist and you'll probably find me frequently on demonstrations relating to
  =link "AK Vorrat", "http://www.vorratsdatenspeicherung.de/"
  \.
  / and Critical Mass …if I fixed my bike, finally.
  Currently I'm working as Ruby On Rails programmer while studying computer
  science. You'll find more information about this at the corresponding menu tabs.
%p
  I'm a member of the
  =link "sublab", "http://sublab.org"
  \.
  I'm a nerd.
  / Really!
%p
  This page is hosted by myself on a
  %a{ :href => "https://www.server4you.de/de/vserver/index.php", :target => "_blank" }
    vServer
  / I want to change …but I cannot find a good offer.
  ,
  just like my
  =link "blog", "/offline.html"
  / my blog is currently dead because I use gatling – which cannot handle php/python/ruby
  , my
  =link "download and screenshot section", "http://dl.nkoehring.de"
  / my downloads are private, sorry. but have fun with my screenshots
  , my
  =link "Jabber", "xmpp:nkoehring[at]nkoehring.de"
  / this [at] means 'a' with a cirle around it... you know?
  , my
  =link "Mail", "mailto:nkoehring[at]nkoehring.de"
  , and a lot of other stuff typically found on nerd
  playgrounds. You can also ask for following me via
  =link "Twitter", "http://twitter.com/nkoehring"
  / 
    and identi.ca and twitpic and mister-wong and... I don't know.
    Username should always be "nkoehring"
  or have a look at my
  =link "playground page", "/offline.html"
  / offline, too... like my blog
  which is usually filled with senseless stuff.

