-@title="Welcome!"
-@flourish="&#57346;"

:textile
  You are at the virtual lair of Norman Köhring
  a.k.a. nkoehring a.k.a pSy.
  
  I like a lot of computer related stuff, like <span title="Plan9 is nice but I'm spoiled by Linux too much">weird operating systems</span>, <span title="ZSH …the one and only!">shells</span>, <span title="Python, Ruby, C. And already tried lot of more exotic stuff like Wirble and Go. I tried Prolog already… but not enough, yet. Haskell and all those functional languages are surely great, too… Oh and I don't like PHP, Java and C#. Those are evil languages, I'm sure!">programming</span> and <span title="humans, for example…">complex things</span> in general.

  I'm a bit of an activist and you'll probably find me frequently on demonstrations relating to "AK Vorrat (and Critical Mass …if I got my bike fixed some day)":http://www.vorratsdatenspeicherung.de.
  
  Currently I'm working as Ruby On Rails programmer while studying computer science. You'll find more information about this at the corresponding menu tabs.

  I'm a member of the "sublab":http://sublab.org. <span title="this is simply the truth">I'm a nerd</span>.

  This page is hosted by myself on a "vServer (I want to change …but I cannot find something better this cheap.)":https://www.server4you.de/de/vserver/index.php, just like "my blog (my blog is currently dead because I use gatling – which cannot handle php/python/ruby)":/offline.html, "my download and screenshot section (my downloads are private, sorry. but have fun with my screenshots)":http://dl.nkoehring.de, "my Jabber":xmpp:nkoehring[at]nkoehring.de, "my Mail,":mailto:nkoehring[at]nkoehring.de and a lot of other stuff typically found on nerd playgrounds.
  
  You can also ask for following me via <span title="And twitpic and mister-wong and... I don't know. Just try <adress of social whatever>/<userurlfoo>/nkoehring.">"Identi.ca":http://identi.ca/nkoehring and/or its proprietary "equivalent":http://twitter.com/nkoehring</span> or have a look at my "playground page (offline, too… like my blog)":/offline.html which is usually filled with senseless stuff.

:plain
  <img src="/cgi/bbla-logger.pl?dest=about&referer=<!--#echo var='HTTP_REFERER'-->" alt="BBLA-Logger" >

