%p
  … is currently
  %span.big offline
  … sorry.
  =link "go back", "javascript:history.back();"
  
:plain
  <img src="/cgi/bbla-logger.pl?dest=offline&referer=<!--#echo var='HTTP_REFERER'-->" alt="BBLA-Logger" >

