%h1 Study
%p
  I study computer science at the
  =link "University of Applied Sciences Leipzig", "http://portal.imn.htwk-leipzig.de"
  \.
%p
  The main fields of interest besides programming in general are artificial intelligence, neuronal
  networks, human-computer-interaction, web technologies and related areas.

