%h1
  Study
  %span.flourish &#57345;
%p
  I study computer science at the
  =link "University of Applied Sciences Leipzig", "http://portal.imn.htwk-leipzig.de"
  \.
  / I started to study at the University of Applied Sciences Merseburg, btw.
%p
  My main fields of interest besides programming in general are artificial intelligence, neuronal
  networks, human-computer-interaction, web technologies and related areas.
  / I'm looking forward to the moment my computer asks me: "How is it to /smell/ and /taste/, father?"

