-@title="study"
-@flourish="&#57345;"

:textile
  I study computer science at the "University of Applied Sciences Leipzig":http://portal.imn.htwk-leipzig.de.  

  My main fields of interest besides programming in general are <span title="I'm looking forward to the moment my computer asks me: 'How is it to /smell/ and /taste/, father?'">artificial intelligence, neuronal networks, human-computer-interaction</span>, web technologies and related areas.
  
  
:plain
  <img src="/cgi/bbla-logger.pl?dest=study&referer=<!--#echo var='HTTP_REFERER'-->" alt="" >

