%h1 about this page
%p
  This page is proudly created/written/designed without Javascript and dynamic framworking stuff by
  Norman&nbsp;Köhring.
%p
  The tools I used are
  =link "staticmatic", "http://staticmatic.rubyforge.org/"
  – a lightweight static content framework,
  =link "HAML", "http://haml-lang.com"
  and
  =link "SASS", "http://sass-lang.com"
  which are my favorite markup languages for HTML and CSS. Of course I used the one and only editor
  =link "Vim", "http://www.vim.org/"
  and last but not least
  =link "my keyboard", "images/mykeyboard.jpg"
  ;)
%p
  The sources of this page are available at
  =link "GitHub", "http://github.com/nkoehring/nkoehring.de"
  \.

