-@title="about this page"
-@flourish="penguin"

:textile
  This page is proudly created/written/designed without Javascript and dynamic framworking stuff by <span title="Ha, thats me!">Norman&nbsp;Köhring</span>.

  The tools I used are "staticmatic":http://staticmatic.rubyforge.org/, a lightweight static content framework, "HAML":http://haml-lang.com and "SASS":http://sass-lang.com, which are my favorite markup languages for HTML and CSS. Of course I used the one and only editor "Vim":http://www.vim.org/ and last but not least "my keyboard (I'm one of those guys who is fluently talking console.)":images/mykeyboard.jpg ;) 

  The background and effect images are a self creation by me in coorperation with my good friend Ceiphren. I used GIMP to create them.

  This page uses a subset version of the "Biolinum2":http://www.linuxlibertine.org/index.php?id=86 font from "Linux Libertine":http://linuxlibertine.sourceforge.net/ Open Fonts Project. If you don't have this font installed, your browser needs to support CSS font downloads (@font-face), otherwise it will look like a regular boring Verdana or Arial. The subset is created with "FontSquirrel":http://www.fontsquirrel.com/fontface/generator.

  The sources of this page are available at "GitHub":http://github.com/nkoehring/nkoehring.de.

:plain
  <img src="/cgi/bbla-logger.pl?dest=this_page&referer=<!--#echo var='HTTP_REFERER'-->" alt="BBLA-Logger" >

