%h1
  about this page
  %span.flourish.big{:style => "margin-top: -23px"} &#57344;
%p
  This page is proudly created/written/designed without Javascript and dynamic framworking stuff by
  Norman&nbsp;Köhring.
%p
  The tools I used are
  =link "staticmatic", "http://staticmatic.rubyforge.org/"
  – a lightweight static content framework,
  =link "HAML", "http://haml-lang.com"
  and
  =link "SASS", "http://sass-lang.com"
  which are my favorite markup languages for HTML and CSS. Of course I used the one and only editor
  =link "Vim", "http://www.vim.org/"
  and last but not least
  =link "my keyboard", "images/mykeyboard.jpg"
  ;)
  / I'm one of those guys who is fluently talking console.
%p
  This page uses the
  =link "Biolinum2", "http://www.linuxlibertine.org/index.php?id=86"
  font from
  =link "Libertine Open Fonts Project", "http://linuxlibertine.sourceforge.net/"
  \. If you don't have this font installed, your browser needs to support CSS font downloads (@font-face).
  Otherwise it will look like a regular boring Verdana or Arial.
  / thanks to Gabriel Shahzad ( http://herr-gabriel.de ) for this idea
%p
  The sources of this page are available at
  =link "GitHub", "http://github.com/nkoehring/nkoehring.de"
  \.

