-@title="work"
-@flourish="&#57347;"

:textile
  Currently working as programmer for Lailos ("wefeel":http://www.wefeel.de, "wecuddle":http://www.wecuddle.de) and "Mediacallcenter":http://www.mediacallcenter.de, mainly with "RoR (Ruby on Rails)":http://rubyonrails.org/.

  I'm also very experienced with the "Python (my first love)":http://www.python.org programming language (about six years), I'm familiar with C and <span title="even Assembler and Java and LabView">many other imperative and object oriented languages</span>. I already worked a lot with PHP ("jobmixer.com":http://www.jobmixer.com) and did some study projects in Java.

  You want to hire me for your project? Just send a mail to "gewerbe[at]nkoehring.de":mailto:gewerbe[at]nkoehring.de.

:plain
  <img src="/cgi/bbla-logger.pl?dest=work&referer=<!--#echo var=HTTP_REFERER-->" alt="" >

