%h1 Work
%p
  Currently working as programmer for Lailos (
  =link "wefeel", "http://www.wefeel.de"
  ,
  =link "wecuddle", "http://www.wecuddle.de"
  )
  and
  =link "Mediacallcenter", "http://www.mediacallcenter.de"
  \.
%p
  Main fields are
  =link "RoR", "http://rubyonrails.org/"
  programming in all areas.
%p
  I'm also very experienced with
  =link "Python", "http://python.org"
  programming language (about six years), I'm used to C and many other imperative and object oriented
  languages. I already worked a lot with PHP (
  =link "jobmixer.com", "http://www.jobmixer.com"
  ) and did some study projects in Java (and really disliked it).
%p
  You want to hire me for your project? Just send a mail to
  =link "gewerbe[at]nkoehring.de", "mailto:gewerbe[at]nkoehring.de"
  \.
