%h1
  Work
  %span.flourish &#57347;
%p
  Currently working as programmer for Lailos (
  / I really like this guys…
  =link "wefeel", "http://www.wefeel.de"
  ,
  =link "wecuddle", "http://www.wecuddle.de"
  )
  and
  =link "Mediacallcenter", "http://www.mediacallcenter.de"
  , mainly with
  =link "RoR", "http://rubyonrails.org/"
  \.
%p
  I'm also very experienced with the
  =link "Python", "http://python.org"
  / my first love
  programming language (about six years), I'm familiar with C and many other imperative and object
  oriented languages.
  / even Assembler and Java and LabView
  I already worked a lot with PHP (
  =link "jobmixer.com", "http://www.jobmixer.com"
  ) and did some study projects in Java (and really disliked it).
  / disliked… ha! I absolutely hate PHP since this time.
%p
  You want to hire me for your project? Just send a mail to
  =link "gewerbe[at]nkoehring.de", "mailto:gewerbe[at]nkoehring.de"
  \.
