body > header h1 > span {
  color: #999;
}

#asidetoggle {
  display: none;
  float: left;
  border: none;
  background-color: #494949;
  margin-top: -1.2rem;
  padding: .5rem 1rem;
  color: #FFF;
  font-size: 2rem;
  font-weight: 100;
}

#about .u-photo {
  float: left;
  width: 100px;
  margin-top: -2em;
  margin-left: 1em;
}

body > aside,
#main {
  transition: transform .2s ease;
}
body > aside nav,
body > aside ol,
body > aside ul {
  margin: 0;
  padding: 0;
  line-height: 2.1rem;
}
body > aside > section > header > h1 {
  margin: 0;
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 1.5rem;
}

#main.wrapped {
  transform: translate(50%) rotateY(45deg);
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
#main > section > header > h1 {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  margin-top: .7em;
  font-size: 1.7rem;
}
#main > section > header > h2 {
  display: inline-block;
  vertical-align: baseline;
  font-size: 1rem;
  margin-top: 0;
}
#main > section > p {
  margin: .5rem 0;
}
#main > section > p:first-of-type {
  margin: 0;
}

#main header > h1 > span { transition: color 2s; }
#introduction > header > h1 > span { color: #6EE; }
#experience   > header > h1 > span { color: #E66; }
#coaching     > header > h1 > span { color: #6E6; }

/* media queries */
@media screen and (max-width:960px) {
  body {
    width: 100%;
    overflow-x: hidden;
    margin: 0 0;
    border: none;
  }
}

@media screen and (max-width:639px) {
  body > header {
    padding: 0;
    height: 160px;
    background-size: 180%;
  }

  #main > section > header > h1,
  #main > section > header > h2 {
    display: block;
  }
  body > header h1 > span {
    display: block;
    margin-left: -.3rem;
    margin-bottom: -3rem;
    color: #777;
  }

  #asidetoggle {
    display: inline-block;
  }
  body > aside {
    position: absolute;
    width: 160px;
    padding-right: 0;
    transform: translateX(-250px);
  }
  body > aside.open {
    transform: translateX(0px);
  }

  #main {
    margin: 0;
    margin-left: 2%;
    width: 96%;
    text-align: left;
  }
}

@media screen and (max-width:359px) {
  #main {
    margin-left: 5%;
    width: 90%;
  }
  #main.wrapped {
    margin-left: 10%;
  }
}
