@font-face {
    font-family: nanumbrushscript;
    src: url('/assets/nanumbrushscript-webfont.woff2') format('woff2'),
         url('/assets/nanumbrushscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: iwona;
    src: url('/assets/iwona-bold-webfont.woff2') format('woff2'),
         url('/assets/iwona-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: iwona;
    src: url('/assets/iwona-regular-webfont.woff2') format('woff2'),
         url('/assets/iwona-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: iwona, sans;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5em;
  color: #333;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  background: white;
  border: 1px dotted #CCC;
  perspective: 1000px;
}

body.legal {
  padding: 1em;
  text-align: justify;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted rgba(33,33,33,.5);
}

body > header {
  display: block;
  text-align: center;
  background: #4C4C4C url(/assets/title_bg.jpg) center no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 2.8rem 0;
  height: 108px;
  transition: background-position .5s ease;
}
body > header h1,
body > header h2 {
  margin: 0;
  line-height: 1em;
  transition: margin .5s ease;
}
body > header h1 {
  font-size: 4rem;
}
body > header h2 {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: normal;
  font-family: nanumbrushscript;
}
body > header h1 > span {
  color: #999;
}

#asidetoggle {
  display: none;
  float: left;
  border: none;
  background-color: #494949;
  margin-top: -1.2rem;
  padding: .5rem 1rem;
  color: #FFF;
  font-size: 2rem;
  font-weight: 100;
}

#about .u-photo {
  float: left;
  width: 100px;
  margin-top: -2em;
  margin-left: 1em;
}

body > aside,
#main {
  display: inline-block;
  vertical-align: top;
  transition: transform .2s ease;
}

body > aside {
  width: 25%;
  text-align: right;
  font-size: 1rem;
  padding-right: 4%;
}
body > aside nav,
body > aside ol,
body > aside ul {
  margin: 0;
  padding: 0;
  line-height: 2.1rem;
}
body > aside li {
  list-style: none;
}
body > aside > section > header > h1 {
  margin: 0;
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 1.5rem;
}

#main {
  width: 65%;
  vertical-align: top;
  transform-origin: center left;
  text-align: justify;
}
#main.wrapped {
  transform: translate(50%) rotateY(45deg);
  border-top: 1px solid #EEE;
  border-bottom: 1px solid #EEE;
}
#main > section > header > h1 {
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
  margin-top: .7em;
  font-size: 1.7rem;
}
#main > section > header > h2 {
  display: inline-block;
  vertical-align: baseline;
  font-size: 1rem;
  margin-top: 0;
}
#main > section > p {
  margin: .5rem 0;
}
#main > section > p:first-of-type {
  margin: 0;
}

#introduction > header > h1 > span { color: #6EE; }
#experience   > header > h1 > span { color: #E66; }
#coaching     > header > h1 > span { color: #6E6; }

body > footer {
  margin: 5rem 0;
  text-align: center;
}
#footernav li {
  display: inline;
  margin: 0 1em;
}

/* media queries */
@media screen and (max-width:960px) {
  body {
    width: 100%;
    overflow-x: hidden;
    margin: 0 0;
    border: none;
  }
}

@media screen and (max-width:639px) {
  body > header {
    padding: 0;
    height: 160px;
    background-size: 180%;
  }

  #main > section > header > h1,
  #main > section > header > h2 {
    display: block;
  }
  body > header h1 > span {
    display: block;
    margin-left: -.3rem;
    margin-bottom: -3rem;
    color: #777;
  }

  #asidetoggle {
    display: inline-block;
  }
  body > aside {
    position: absolute;
    width: 160px;
    padding-right: 0;
    transform: translateX(-250px);
  }
  body > aside.open {
    transform: translateX(0px);
  }

  #main {
    margin: 0;
    margin-left: 2%;
    width: 96%;
    text-align: left;
  }
  #footernav li {
    display: block;
  }
}

@media screen and (max-width:359px) {
  #main {
    margin-left: 5%;
    width: 90%;
  }
  #main.wrapped {
    margin-left: 10%;
  }
}
