<!DOCTYPE html>
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %title
      Lair of NKoehring
    %meta{ :name => "author", :content => "Norman K\303\266hring" }
    %meta{ :name => "DC.title", :content => "Norman K\303\266hring aka nkoehring" }
    /
      GeoURL
    %meta{ :name => "ICBM", :content => "51.3333, 12.4167" }
    %meta{ :name => "geo.position", :content => "51.3333; 12.4167" }
    %meta{ :name => "geo.region", :content => "DE" }
    %link{ :href => "mailto:me[at]nkoehring.de", :rel => "author" }
    =stylesheets :media => :screen, :charset => "utf-8", :title => "Standard Layout"

  %body
    #page_wrapper
      #page
        #inner
          #head
            %ul
              -about_is_current = (current_page == "/index.html" ? "current" : "")
              -work_is_current = (current_page == "/work.html" ? "current" : "")
              -study_is_current = (current_page == "/study.html" ? "current" : "")
              -page_is_current = (current_page == "/this_page.html" ? "current" : "")
              %li{ :class => about_is_current }
                %div=link "about", "/"
              %li{ :class => work_is_current }
                %div=link "work"
              %li{ :class => study_is_current }
                %div=link "study"
              %li{ :class => "#{page_is_current} right" }
                %div=link "this page"

          =yield

          %p#signature{ :alt => "use more unicode (eg: What I like and what I am...)" }
            &#9753;  <!-- reversed floral heart bullet //-->
            &#9811;  <!-- pisces //-->
            &#9835;  <!-- music //-->
            &#9880;  <!-- nature //-->
            &#57344; <!-- tux //-->
            &#9733;  <!-- liberation //-->
            &#9774;  <!-- peace //-->
            &#9775;  <!-- YinYang //-->
            &#10087; <!-- rotated floral heart bullet //-->


    / Sorry for this. It's because I like growing numbers, just like those browser game players…
    %script{ :type => "text/javascript" }
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{ :type => "text/javascript" }
      try {
      var pageTracker = _gat._getTracker("UA-10199672-1");
      pageTracker._trackPageview();
      } catch(err) {}
